<main class="bg-light">
    <section class="text-center p-5">
        <img
            class="img-fluid rounded img-thumbnail"
            src="./assets/images/ajedrez.png"
            alt=""
        />
    </section>
</main>

<div class="row g-5 p-5">
    <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">¿Qué es el Ajedrez?</h3>

        <article class="blog-post">
            <h2 class="blog-post-title mb-1">Introducción</h2>
            <p class="blog-post-meta">
                Mayo 6, 2023 por <a href="#">Jesus Cuesta </a>
            </p>

            <p>
                El ajedrez es un juego de mesa para dos personas que se juega en
                un tablero cuadrado de 64 casillas, que se divide en dos partes
                iguales, una para cada jugador. Este juego es conocido por su
                complejidad y estrategia, y se ha jugado durante siglos en todo
                el mundo.
            </p>
            <hr />
            <p>
                El objetivo del juego es capturar el rey del oponente, lo que se
                llama jaque mate. Cada jugador comienza con 16 piezas: un rey,
                una reina, dos torres, dos caballos, dos alfiles y ocho peones.
                Cada pieza tiene un movimiento único en el tablero, y los
                jugadores deben usar la estrategia y la táctica para mover sus
                piezas y capturar las del oponente.
            </p>
            <p>
                El ajedrez se juega en todo el mundo y ha sido reconocido por la
                UNESCO como un deporte de la mente. Además, es comúnmente
                utilizado como una herramienta educativa en escuelas y
                universidades debido a sus beneficios para el desarrollo
                cognitivo y la mejora de la concentración.
            </p>
            <img src="./assets/images/aj3.jpg" alt="imagen ajedrez" class="rounded mx-auto d-block" />
            <p>
                A continuación, se presentan algunas de las piezas del ajedrez y
                sus movimientos:
            </p>
            <ul>
                <li>
                    Peón: El peón es la pieza más común en el ajedrez y se mueve
                    hacia adelante una casilla a la vez, excepto en su primer
                    movimiento, donde puede avanzar dos casillas. Solo puede
                    capturar una pieza en diagonal.
                </li>
                <li>
                    Torre: La torre se mueve en línea recta, tanto horizontal
                    como verticalmente, tantas casillas como se desee, pero sin
                    saltar sobre otras piezas.
                </li>
                <li>
                    Caballo: El caballo se mueve en forma de "L", dos casillas
                    en una dirección y luego una en una dirección perpendicular.
                    Puede saltar sobre otras piezas en el tablero.
                </li>
                <li>
                    Alfil: El alfil se mueve en diagonal, tantas casillas como
                    se desee, pero sin saltar sobre otras piezas.
                </li>
                <li>
                    Reina: La reina es la pieza más poderosa del ajedrez y se
                    mueve tanto horizontal como verticalmente, así como en
                    diagonal, tantas casillas como se desee, sin saltar sobre
                    otras piezas.
                </li>
                <li>
                    Rey: El rey se mueve en cualquier dirección, pero solo una
                    casilla a la vez. Es la pieza más importante del juego, ya
                    que si es capturada, se pierde la partida.
                </li>
                <img src="./assets/images/aj6.jpg" alt="imagen ajedrez" class="rounded mx-auto d-block" />
            </ul>
        </article>

        <nav class="blog-pagination" aria-label="Pagination">
            <a class="btn btn-outline-primary rounded-pill" href="#"
                >Anterior Artículo</a
            >
            <a class="btn btn-outline-secondary rounded-pill disabled" href="#"
                >Siguiente Artículo</a
            >
        </nav>
    </div>

    <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem">
            <div class="p-4 mb-3 bg-body-tertiary rounded">
                <h4 class="fst-italic">Contenido</h4>
                <p class="mb-0">
                    El ajedrez es un juego fascinante que ofrece muchos
                    beneficios, como el desarrollo cognitivo, la mejora de la
                    capacidad de aprendizaje, la competencia y camaradería, la
                    habilidad de planificación y estrategia, y la disminución
                    del estrés. .
                </p>
            </div>

            <div class="p-4">
                <h4 class="fst-italic">Archivo</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">Marzo 2023</a></li>
                    <li><a href="#">Febrero 2023</a></li>
                    <li><a href="#">Enero 2023</a></li>
                    <li><a href="#">Diciembre 2022</a></li>
                    <li><a href="#">November 2022</a></li>
                    <li><a href="#">Octubre 2022</a></li>
                    <li><a href="#">Septiembre 2022</a></li>
                    <li><a href="#">Agusto 2022</a></li>
                    <li><a href="#">Julio 2022</a></li>
                    <li><a href="#">Junio 2022</a></li>
                    <li><a href="#">Mayo 2022</a></li>
                    <li><a href="#">Abril 2022</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2 p-5">
    <div class="col-md-6">
        <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"
                    >Técnicas</strong
                >
                <h3 class="mb-0">5 movientos para comenzar</h3>
                <div class="mb-1 text-body-secondary">Mar 12</div>
                <p class="card-text mb-auto">
                    Los primeros movimientos en una partida de ajedrez pueden
                    ser decisivos. Analizamos los 5 más usados.
                </p>
                <a href="#" class="stretched-link">Seguir leyendo</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Curiosidades</strong>
                <h3 class="mb-0">¿Cuál es el jugador que más partidas ha perdido?</h3>
                <div class="mb-1 text-body-secondary">Nov 11</div>
                <p class="mb-auto">
                    Para llegar a ser un gran jugador, es necesario perder para aprender.
                    De los top 10, ¿cuáles han perdido más partidas?
                </p>
                <a href="#" class="stretched-link">Seguir leyendo</a>
            </div>
        </div>
    </div>
</div>
