<div class="row members">
    <h1 class="text-center p-3">Chess Club Members</h1>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <img src="./assets/images/ian.png" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Ian Nepomniachtchi</h5>
                <p class="card-text d-none d-sm-block">
                    Ian Nepomniachtchi (“Nepo” en su versión corta) es un súper
                    gran maestro ruso y uno de los aspirantes a convertirse en
                    el próximo retador de Carlsen en caso de proclamarse
                    vencedor del Torneo de Candidatos.
                </p>
                <a href="#" class="btn btn-primary">Contactar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <img
                src="./assets/images/magnus.jpeg"
                class="card-img-top"
                alt="..."
            />
            <div class="card-body">
                <h5 class="card-title">Magnus Carlsen</h5>
                <p class="card-text d-none d-sm-block">
                    Magnus Carlsen es el vigente Campeón del Mundo de ajedrez.
                    Es considerado por muchos como el mejor jugador de la
                    historia, si bien Garry Kasparov y Bobby Fischer no pueden
                    ser eliminados de la ecuación.
                </p>
                <a href="#" class="btn btn-primary">Contactar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <img
                src="./assets/images/din.jpeg"
                class="card-img-top"
                alt="..."
            />
            <div class="card-body">
                <h5 class="card-title">Ding Liren</h5>
                <p class="card-text d-none d-sm-block">
                    Ding Liren es un súper gran maestro de origen chino
                    considerado por muchos como uno de los principales
                    aspirantes al título mundial que actualmente ostenta Magnus
                    Carlsen. Ding ganó el primer Campeonato de China.
                </p>
                <a href="#" class="btn btn-primary">Contactar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <img
                src="./assets/images/alireza.png"
                class="card-img-top"
                alt="..."
            />
            <div class="card-body">
                <h5 class="card-title">Alireza Firouzja</h5>
                <p class="card-text d-none d-sm-block">
                    Alireza Firouzja es un gran maestro de origen iraní, un
                    jugador de clase mundial y el más joven del mundo en la
                    actualidad con un Elo superior a los 2700. Campeón de Irán
                    hasta en dos ocasiones y vigente Campeón de Europa de
                    Fischer Random.
                </p>
                <a href="#" class="btn btn-primary">Contactar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <img
                src="./assets/images/hikaru.jpeg"
                class="card-img-top"
                alt="..."
            />
            <div class="card-body">
                <h5 class="card-title">Hikaru Nakamura</h5>
                <p class="card-text d-none d-sm-block">
                    Hikaru Nakamura nació el 7 de diciembre de 1987 en Hirakata,
                    Japón. Su familia se trasladó a Estados Unidos cuando él
                    tenía tan solo dos años, y la única bandera que ha
                    representado como jugador de ajedrez es la de estrellas y
                    barras.
                </p>
                <a href="#" class="btn btn-primary">Contactar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <img
                src="./assets/images/anish.jpeg"
                class="card-img-top"
                alt="..."
            />
            <div class="card-body">
                <h5 class="card-title">Anish Giri</h5>
                <p class="card-text d-none d-sm-block">
                    El GM Anish Giri es tetracampeón de los Países Bajos y uno
                    de los mejores jugadores del mundo. Llegó a ocupar la
                    tercera posición del ránking mundial, alcanzando su Elo
                    máximo (2802) el 15 de febrero de 2015.
                </p>
                <a href="#" class="btn btn-primary">Contactar</a>
            </div>
        </div>
    </div>
</div>
