<main>
    <section>
        <h2>Historia <i class="fas fa-clock"></i></h2>
        <p>
            La Iglesia de San Martín de Tours fue construida en el siglo
            XVI en estilo gótico-renacentista. Fue una de las pocas
            iglesias de la Comunidad de Madrid que sobrevivió a la
            Guerra Civil Española sin ser destruida.
        </p>
    </section>
    <section>
        <h2>Arquitectura</h2>
        <p>
            La iglesia cuenta con una nave central, dos laterales y un
            amplio coro. Su fachada principal destaca por su portada
            renacentista, flanqueada por dos grandes torres cuadradas.
            En el interior se pueden apreciar diferentes elementos
            decorativos, como el retablo mayor, realizado en madera
            tallada y dorada, y varias capillas laterales con pinturas
            al fresco.
        </p>
    </section>
    <section>
        <h2>Imágenes</h2>
        <ul class="carousel">
            <li class="carousel__list"><img class="carousel__list--small" src="./assets/images/iglesia-dentro.jpg" alt="" /></li>
            <li class="carousel__list"><img class="carousel__list--small" src="./assets/images/dentro3.jpg" alt="" /></li>
            <li class="carousel__list"><img class="carousel__list--small" src="./assets/images/dentro2.png" alt="" /></li>
        </ul>
    </section>
</main>
